<html>
<head>
    <title>CobraTeam website - CobraTeam.info</title>
    <link rel="stylesheet" type="text/css" href="static/cobra.css">
</head>
<body>
    <div id="header">
      <img src="/static/logo.png"/>
       <br><br>
    </div>
    <div id="content">
        <ul>
            <h2>Projects</h2>
            {% for project in projects %}
                <li><a href='{{ project[1] }}'>{{ project[0] }}</a></li>
            {% endfor %}
        </ul>

        <ul>
            <h2>Developers</h2>
            {% for user in members %}
                <li><a href='http://github.com/{{ user[1] }}'>{{ user[0] }}</a></li>
            {% endfor %}
        </ul>

        <ul>
            <h2>Contact</h2>
            <li>#cobrateam at irc.freenode.net</li>
        </ul>
    </div>
    <div id="footer">
    </div>
    
    <script type="text/javascript">

     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-18547816-1']);
     _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type =
    'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
    'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
     })();

    </script>
</body>
</html>
